<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="KERNEL_CLASS" value="Novaway\Bundle\FeatureFlagBundle\Tests\Fixtures\App\AppKernel"/>
        <env name="APP_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <coverage ignoreDeprecatedCodeUnits="true"/>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
