name: Continuous Integration
on: [push, pull_request]

jobs:
    cs:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: 8.2
            coverage: xdebug
        - name: Get Composer Cache Directory
          id: composer-cache
          run: echo "::set-output name=dir::$(composer config cache-files-dir)"
        - name: Cache dependencies
          uses: actions/cache@v2
          with:
            path: ${{ steps.composer-cache.outputs.dir }}
            key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
            restore-keys: ${{ runner.os }}-composer-
        - name: Install Dependencies
          run: composer install --prefer-dist --no-interaction --optimize-autoloader
        - name: Run PHPStan
          run: vendor/bin/php-cs-fixer fix --dry-run --diff


    phpstan:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: 8.2
                coverage: xdebug
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                restore-keys: ${{ runner.os }}-composer-
            - name: Install Dependencies
              run: composer install --prefer-dist --no-interaction --optimize-autoloader
            - name: Run PHPStan
              run: vendor/bin/phpstan

    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.1', '8.2']
                flags: ['--prefer-lowest', '--prefer-stable']
                symfony-version: ['5.4.*', '6.0.*', '6.1.*', '6.2.*']
            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: xdebug
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install symfony version from matrix
              env:
                  SYMFONY_VERSION: ${{ matrix.symfony-version }}
              run: composer require symfony/framework-bundle:$SYMFONY_VERSION --no-update
            - name: Install Dependencies
              run: composer update --prefer-dist --no-interaction --optimize-autoloader --no-progress $COMPOSER_FLAGS
              env:
                  COMPOSER_FLAGS: ${{ matrix.flags }}
            - name: Run PHPUnit
              run: vendor/bin/phpunit
