name: Continuous Integration
on: [push, pull_request]

jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['7.3', '7.4', '8.0', '8.1']
                flags: ['--prefer-lowest', '--prefer-stable']
                symfony-version: ['4.4.*', '5.4.*']
                include:
                    - php: 8.1
                      symfony-version: 6.0.*
            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: xdebug
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install symfony version from matrix
              env:
                  SYMFONY_VERSION: ${{ matrix.symfony-version }}
              run: composer require symfony/framework-bundle:$SYMFONY_VERSION --no-update
            - name: Install Dependencies
              run: composer update --prefer-dist --no-interaction --optimize-autoloader --no-progress $COMPOSER_FLAGS
              env:
                  COMPOSER_FLAGS: ${{ matrix.flags }}
            - name: Run PHPUnit
              run: vendor/bin/phpunit
